header
    .onepcssgrid-1200.header
      .onerow
        .col2
          img(src='img/concured_logo.png', alt='')
        .mainNav
          ul
            li
              a#overview_header(href='#', style="visibility: hidden;") Overview
            if username
              li
                a(href='#') Welcome 
                  =username
            if audit 
              li
                a(href='dashboard') Back
            else
              li
                a(href='audit') Audit
            li
              a(href='logout') Logout

