extends ../layouts/default
block content
  body
    .mainContainer
      .onepcssgrid-1200
        .onerow.nopad
          .col2.nomarg.sideNavContainer(style="width:25%;")
            .sideNav#sitediv
              h3
                a#overview(href='#') Overview
              h4 Insights on:
              .container#sitediv(style="color:white;font-size:1.2em;")
               span#sites

          .col10.nomarg.content.last(style="width:75%;")
            article.overview
              .onerow
                .col3
                  img(src='img/reuters_grey.png', alt='')
                  h3=target
                .col1  
                .col6.tableContents
                  table(cellspacing='0', cellpadding='0', border='0', width='100%')
                    tr
                      th Rank
                      th.middle Top Topics
                      th cScore
                    tr
                      td
                        a(href='#') 1
                      td.middle
                        a(href='#') Trump skirts obligation
                      td
                        a(href='#') 205
                    tr
                      td
                        a(href='#') 2
                      td.middle
                        a(href='#') Routes commercialzing technology
                      td
                        a(href='#') 210.5
                    tr.selected
                      td
                        a(href='#') 3
                      td.middle
                        a(href='#') Reserve raise rates
                      td
                        a(href='#') 242
                    tr
                      td
                        a(href='#') 4
                      td.middle
                        a(href='#') Clients pursue opportunities
                      td
                        a(href='#') 272
                    tr
                      td
                        a(href='#') 5
                      td.middle
                        a(href='#') Reuters expanded partnership
                      td
                        a(href='#') 274
                    tr
                      td
                        a(href='#') 6
                      td.middle
                        a(href='#') Authors evaluate studies
                      td
                        a(href='#') 277
                    tr
                      td
                        a(href='#') 7
                      td.middle
                        a(href='#') Oil extended losses
                      td
                        a(href='#') 284.5
                    tr
                      td
                        a(href='#') 8
                      td.middle
                        a(href='#') Law prohibits sales
                      td
                        a(href='#') 286
                    tr
                      td
                        a(href='#') 9
                      td.middle
                        a(href='#') Mobile introduced plans
                      td
                        a(href='#') 292.5
                    tr
                      td
                        a(href='#') 10
                      td.middle
                        a(href='#') Candidate becomes nominee
                      td
                        a(href='#') 294.5
                  p Select a topic from the list above to generate insights
            article
              .onerow
                .col12
                  h1 Reserve raise rates
              .onerow
                .col3.scores
                  .cScore
                    img(src='img/cScore.png', alt='')
                    div
                      h4 Today's cscore
                      h5 242
                  .rank
                    img(src='img/rank.png', alt='')
                    div
                      h4 Today's rank
                      h5 3
                .col6.wordCloudContainer
                  ul.hidden.cloudItems
                    li(data-weight='10') Fed 
                    li(data-weight='9') Stimulous 
                    li(data-weight='8') Market
                    li(data-weight='7') Economist
                    li(data-weight='6') Labor-force
                    li(data-weight='5') Inflation
                    li(data-weight='4') Employment
                    li(data-weight='3') Interest
                    li(data-weight='2') Policy
                    li(data-weight='1') Monetary
                  p
                    em Related concepts
                  #wordCloud(style='width:530px; height:220px;')
                  p.smallText
                    | Note: The related concepts represented here are the ten words the most closly related to the topic (cosine similarity)
              .onerow
                .col12.sourceContent
                  h3 Source Content:
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis consequuntur nemo, numquam voluptatem neque porro nulla excepturi provident enim saepe sapiente magni, quam consequatur temporibus possimus, fuga eius minima.
                  p
                    a(href='#') Visit Page
              .onerow.graph
                p.title Weekly Trends of Each Attribute's Rank:
                img(src='img/graph1.jpg', alt='')
              .onerow.graph
                p.title Attributes' Rank Variation Over the Week:
                img(src='img/graph2.jpg', alt='')
            article
              .onerow.graph
                p.title
                  | Weekly Trends of Top 10 Topics' Total Rank (based on cscore)
                img(src='img/graph3.jpg', alt='')
            article
              .onerow.graph
                p.title
                  | Weekly Trends of Top 10 Topics' Attirbutes Ranks by Topic
                img(src='img/graph4.jpg', alt='')

         
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
    script(src='hashes.js')
    script(src='concured_client.js')
    script(src='HTMLfactory.js')
    script(src='/js/jqcloud-1.0.4.min.js')

