extends ../layouts/default
block content
  body
    .mainContainer
      .onepcssgrid-1200
        .onerow.nopad
          .col2.nomarg.sideNavContainer
            .sideNav
              h3
                a(href='#') Overview
              a.tabletMore(href='#') See all sites
              h4 Insights on:
              ul
                li
                  a.selected(href='#')
                    img(src='img/reuters.png', alt='')
                li
                  a(href='#')
                    img(src='img/bloomberg.png', alt='')
                li
                  a(href='#')
                    img(src='img/cnbc.png', alt='')
                li
                  a(href='#')
                    img(src='img/guardian.png', alt='')
                li
                  a(href='#')
                    img(src='img/wall_street.png', alt='')
                li
                  a(href='#')
                    img(src='img/yahoo.png', alt='')
          .col10.nomarg.content.audit.last
            .intro
              h1 Top 5 Topics By Websites
              p
                | For a more detailed view of the top topics' trends, you can select your site of interest in the sidebar.
            .onerow.site
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
            .onerow.site
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
            .onerow.site
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
            .onerow.site
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
            .onerow.site
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
            .onerow.site
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
            .onerow.site
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
              .col2
                h3 #1 Uber acquired Otto
                ul.results
                  li
                    img(src='img/twitter.png', alt='')
                    span.twitter
                      | 2k
                  li
                    img(src='img/facebook.png', alt='')
                    span.facebook
                      | 1.5k
                  li
                    img(src='img/linkedin.png', alt='')
                    span.linkedin
                      | 1.7k
                  li
                    img(src='img/googleplus.png', alt='')
                    span.gplus
                      | 1k
